<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="seleniumSettings" type="OpenGI.Selenium.Configuration.SeleniumSettingsSection, OpenGI.Selenium" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="BaseUrl" value="https://my-vanilla:8443/CoreQuote/TabOne.dq?Product=1&amp;Style=99" />
    <add key="timeToSleep" value="20" />
    <add key="AccordionTransitionWait" value="5000" />
  </appSettings>
  <seleniumSettings>
    <!-- Browser: PhantomJs, GoogleChrome -->
    <browser selected="PhantomJs" />
  </seleniumSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="OpenGI.Ecom.Automation.Selenium.Framework" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
</configuration>